{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="{% static 'css/bootstrap4.5.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome5.15.css' %}">

{% block extracsscdn %}
    
{% endblock extracsscdn %}
    
<link rel="stylesheet" href="{% static 'css/basestyle.css' %}">
<link rel="stylesheet" href="{% static 'css/crudsearch.css' %}">
<link rel="stylesheet" href="{% static 'css/multiauth.css' %}">
<link rel="icon" href="{% static 'img/logo.png' %}" type="image/png" >
<title>
{% block title %}
    
{% endblock title %}
    </title>
</head>
<body>
    

    <nav class="navbar navbar-expand-lg navbar-dark mynav">
        <a class="navbar-brand mybrand" href="{% url 'starter' %}">DJBangla</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link 
              
              {% block homeactive %}
                
              {% endblock homeactive %} 
                
              " href="{% url 'multiauth' %}">Home </a>
            </li>
            <li class="nav-item">
              
              <a class="nav-link 
                {% block studentactive %}
                    
                {% endblock studentactive %}
                    " 
                    href="
                    {% if user.is_authenticated and user.is_teacher %}
                    {% url 'teacher_view_student' %}
                    {% else %}
                    {% url 'multiauth_student' %}
                    {% endif %}
                      
                    ">Student</a>
                

            </li>
            <li class="nav-item">
                <a class="nav-link 
                {% block teacheractive %}
                    
                {% endblock teacheractive %}
                    " href="{% url 'multiauth_teacher' %}">Teacher</a>
              </li>

              
              
                

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                GoTo
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'crudsearch' %}">Crud</a>
                <a class="dropdown-item" href="#">Live Crud</a>
                <a class="dropdown-item" href="#">Image Crud</a>
                <a class="dropdown-item" href="#">Authentication</a>
                <a class="dropdown-item" href="#">Authentication(Profile)</a>
                <a class="dropdown-item" href="#">Authentication(Role)</a>
                <a class="dropdown-item" href="{% url 'multiauth' %}">Authentication(Multiple)</a>
                <a class="dropdown-item" href="#">Authentication(Multiple)</a>
                <a class="dropdown-item" href="#">Add To Cart</a>
              </div>
            </li>

            
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'multiauth_logout' %}">Logout</a>
              </li>
              {% endif %}
            
          </ul>

        </div>
      </nav>

    {% block body %}
        
    {% endblock body %}
<script src="{% static 'js/jquery3.5.1.js' %}"></script>
<script src="{% static 'js/bootstrap4.5.js' %}"></script>

{% block extrajscdn %}
    
{% endblock extrajscdn %}
    

{% block scripts %}
    
{% endblock scripts %}
    
</body>
</html>